---
layout: default
title: Search
siteimage: news.png
weight: 9
---

<form action="get" id="site_search">
<!--
  <label for="search_box">Search</label>
  -->
  <input type="text" id="search_box">
  <input type="submit" value="Search">
</form>

<br/>

<ul id="search_results"></ul>

<script src="/assets//js/lunr.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="/assets//js/search.js"></script>
