<footer id="footer">
  <section class="align-center alt split contact ">
   <br>
   <h5>{{site.location}}</h5>
   <a href="{{site.gitlab}}" class="icon fa-github" rel="nofollow"><span class="label">PRP</span></a>
  </section>
</footer>
