        <li class="{% if page.short contains 'overview' %} active {% endif %}"><a href="/{{page.workshop}}">Overview</a></li>
        <li class="{% if page.url contains 'agenda' %} active {% endif %}"><a href="/{{ page.workshop }}-agenda">Agenda</a></li>
        <li class="{% if page.url contains 'materials' %} active {% endif %}"><a href="/{{ page.workshop}}-materials">Materials</a></li>
        <li class="{% if page.url contains 'contact' %} active {% endif %}"><a href="/{{page.workshop}}-contact">Contact</a></li>
        <li class="{% if page.url contains 'events' %} active {% endif %}"><a href="/events/">Back to PRP </a></li>
