<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<ul class="links">
  <li class="{% if page.url == "/" %} active {% endif %}"><a href="{{ "/" | absolute_url }}">Home</a></li>
  <li class="{% if page.url contains '/news/' %} active {% endif %}"><a href="{{ "/news/" | absolute_url }}">News</a></li>
  <li class="{% if page.url contains '/events/' %} active {% endif %}"><a href="{{ "/events/" | absolute_url }}">Events</a></li>
  <li class="{% if page.url contains '/TNRP/' %} active {% endif %}"><a href="{{ "/TNRP/" | absolute_url }}">TNRP</a></li>
  <li class="{% if page.url contains '/nautilus/' %} active {% endif %}"><a href="{{ "/nautilus/" | absolute_url }}">Nautilus</a></li>
  <li class="{% if page.url contains '/resources/' %} active {% endif %}"><a href="{{ "/resources/" | absolute_url }}">Resources</a></li>
  <li class="{% if page.url contains '/media/' %} active {% endif %}"><a href="{{ "/media/" | absolute_url }}">Media</a></li>
  <li class="{% if page.url contains '/reports/' %} active {% endif %}"><a href="{{ "/reports/" | absolute_url }}">Reports</a></li>
  <li class="{% if page.url contains '/partners/' %} active {% endif %}"><a href="{{ "/partners/" | absolute_url }}">Partners</a></li>
</ul>
<p><div align="left"><a href="{{ "/search/" | absolute_url }}"><i class="fas fa-search"></i></a></p></div>
