<!-- DYN -->
<script src="{{ "/assets/js/jquery.min.js" | absolute_url }}"></script>
<script src="{{ "/assets/js/jquery.scrollex.min.js" | absolute_url }}"></script>
<script src="{{ "/assets/js/jquery.scrolly.min.js" | absolute_url }}"></script>
<script src="{{ "/assets/js/skel.min.js" | absolute_url }}"></script>
<script src="{{ "/assets/js/util.js" | absolute_url }}"></script>
<script src="{{ "/assets/js/main.js" | absolute_url }}"></script>
<script src="{{ "/assets/js/jquery.fancybox.min.js" | absolute_url }}"></script>
<script src="{{ "/assets/js/pdfobject.js" | absolute_url }}"></script>
<script src="{{ "/assets/js/pdfobject.min.js" | absolute_url }}"></script>