/* meetings table */
.meeting { padding: 0; }
.meeting td { padding: 5px; }

.dates  { color: black; font-weight:bold; font-size: 14px; text-align:center; }
.smalltitle { font-weight: 600; color: #f00!important;}

/* small image float left */
img.imgleft { float:left; margin: 0 10px 0 0; width: 100px; }

/* images  on top of the page*/
#submain {
   background: #000000;
   position: relative;
   margin: 0 auto;
   width:  calc(100% - 4rem);
   max-width: 72rem;
   z-index: 2;
}

#submain > * {
padding: 2rem 0 0 0 ;
border-top: 2;
margin: 0;
}

#submain > img {
   border-top: 0;
   width: 100%;
   padding: 0 0 3.2rem 0;
   text-align: center;
}

#main > *:first-child {
  border-top: 0;
}

@media screen and (max-width: 736px) {
   #submain > * {
      padding: 2rem 2rem 0.1rem 2rem ;
   }
}
@media screen and (max-width: 480px) {
   #submain {
      width: 100%;
   }
}

/* CUSTOM STYLES */
@media (min-width: 300px) and (max-width:980px) {

.post-header h2 {font-size:28px!important;}
#submain {background:#fff!important;}
#submain > img
{padding: 0 0 0 0!important;}



}

#main>.post{padding:3rem 5rem 5rem 5rem!important}

#navPanelToggle {
background-color: rgba(255,255,255,0.875)!important;
box-shadow: 0 0.125rem 0.75rem 0 rgba(30,37,45,0.25)!important;
color: #212931!important;

}

/* For workshops table */
$pearl: #dde9ff;
$blue1: #3595d4;
$paleblue1: lighten($blue1,42%);
$paleblue2: lighten($pearl,5%);
$bgborder: #cceffe;
$breakline: darken(#6791CF, 20%);

.break { color: #ee00cc; font-weight: bold; font-size: 13px; background-color: #ffffff;}

table.workshop { padding: 0px; margin: 0px; width: 100%; table-layout: auto; }
.workshop th { font-weight: bold; color: $blue1; font-size: 14px; background: $pearl; text-align:center;padding-top: 5px;}
.workshop tr { border: 0px solid white; }
.workshop tr:nth-child(odd)  { background-color: $paleblue1; }
.workshop tr:nth-child(even) { background-color: $paleblue2; }
.workshop tr:nth-child(odd):hover  { background-color: $bgborder; }
.workshop tr:nth-child(even):hover { background-color: $bgborder; }
.workshop tr td:nth-child(1) {font-weight: bold; width: 13% !important; color: $blue1; font-size: 14px; text-align:center;}
.workshop tr td:nth-child(2) {font-size: 14px;}
.workshop tr td:nlast-child { width: 100% ; }
.workshop td { padding : 4px 0px 0px 4px; vertical-align: top;}
.workshop tr,th { width: 10px; }

/* info table */
table.info { border: 2px solid white !important; padding: 0px; margin: 0px; width: 100%; table-layout: auto; }
.info tr { background: #fff !important; ;padding: 5px;}

/**** For 2 column layout documentation pages ****/
@mixin doc-media-query($device) { @media screen and (min-width: $device) { @content; }}
$doc-large: 1200px;
$doc-medium: 992px;
$doc-small: 768px;

/* page with menu left and content right */
body.doc .wrapper-menu-left {
    border: 0px solid black; /*for debugging*/
    position: relative;
    margin: 0 auto;
    @include doc-media-query($doc-small) { width: 750px; }
    @include doc-media-query($doc-medium) { width: 970px; }
    @include doc-media-query($doc-large) { width: 1170px; }
    @include media-query($on-palm) { }
}

body.doc .menu-left {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 0px solid blue;
  float:left;
  line-height:18px;
  padding-top: 2px;
  overflow:hidden;
  min-height: 400px;
  min-width: 150px;
  margin-left: -35px;
}
body.doc .content-right {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 0px solid orange;
  min-width:200px;
  padding-top: 2px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0;
  overflow:hidden;
  min-height:200px;
  font-size: 95%;
  line-height: 2;
}

.content-right h3 {
  color: $breakline;
  font-size: 1.5rem;
  line-height: 1.0;
  margin: 0 0 1.0rem 0;
  text-transform: none;
}

body.doc .menu-left ul { list-style:none; }
body.doc .menu-left ul li { 
  padding: 3px 0px;
  font-size: 95%;
  font-color: #f00;
}
/***********************************/

/* border row for emphasis in docs */
.border { 
  color: #ff0000; background-color: #eef; font-weight: 700; 
  text-align: center;
}

.docrow {
  text-align: center;
  font-weight: bold;
}

/* @group Buttons  based on https://fortysevenmedia.com/blog/archives/css3_buttons_with_icons */
a.nbutton {
  background-image: -moz-linear-gradient(top, #ffffff, #dbdbdb);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #ffffff),color-stop(1, #dbdbdb));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#dbdbdb');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#dbdbdb')";
  border: 1px solid #fff;
  -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
  border-radius: 18px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  padding: 5px 15px;
  text-decoration: none;
  text-shadow: #fff 0 1px 0;
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;
  display: block;
  color: #ff8c00;
  line-height: 20px;
  font-size: 16px;
  font-weight: bold;
}

a.nbutton:hover {
  background-image: -moz-linear-gradient(top, #ffffff, #eeeeee);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #ffffff),color-stop(1, #eeeeee));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#eeeeee');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#eeeeee')";
  color: #000;
  display: block;
}

a.nbutton:active {
  background-image: -moz-linear-gradient(top, #dbdbdb, #ffffff);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #dbdbdb),color-stop(1, #ffffff));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#dbdbdb', EndColorStr='#ffffff');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#dbdbdb', EndColorStr='#ffffff')";
  text-shadow: 0px -1px 0 rgba(255, 255, 255, 0.5);
  margin-top: 1px;
}

a.nbutton.icon {
  padding-left: 4px;
}

a.nbutton.icon span{
  padding-left: 36px;
  background: url(/assets/icon/nautilus-icon.png) no-repeat 0 -4px;
  background-position: 0px -1px;
}

.codeblock {
  background-color: #eef;
  font-family: "Courier New", monospace;
  font-size: 0.9rem;
  margin: 0 ;
  line-height: 1.75;
  padding: 1rem 1rem 0rem 1rem;
  display: auto;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.codeblock pre {
  margin: 0;
}

/* if using icons sprites
a.nbutton.icon.fig1 span {
  background-position: 0px 2px;
}
a.nbutton.icon.fig2 span {
  background-position: 20px -68px;
}
*/
