---
layout: post
title: Move That Data!
date: 2018-09-17
dates: March 12-14, 2019
location: SDSC
website: https://www.nscc.sg/
eventlink: https://nscc.typeform.com/to/D1Nbtw

categories: 
- "event"
- "2019"
tags: []
imagesrc: move.png
---
<b>Host: National Supercomputing Centre SGNSCC Singapore</b><br>
The movement of data on the internet is a major challenge for researchers in BIG Sciences. Over the past decade, we can see that it is not only in BIG Science that generates large amount of data, but also Internet of things (IoT) as standards of the data resolution being captured continue to evolve. 

We have also seen increases of network bandwidth, from mega to Giga, and 100s of Gbps. Despite this high bandwidth capacity, researchers are still not experiencing the corresponding increase in the "speed" of data transfer.  This is due to multiple factors: server, transport protocol, etc.

Move That Data! is the first-ever Data Mover challenge to be held on a global scale and the inaugural edition will be held in Singapore. The challenge aims to bring together experts from industry and academia, in a bid to test their software across servers located in various countries (USA, Singapore, Australia, Japan) that are connected by 100G international networks.  
</p>