---
layout: default
---

<div class="post">
<h2>{{ page.title }}</h2>
<p>{{page.content}}</p>
<div class="border">
  <strong>You are ...</strong>
</div>
<br>
<p class="docrow">
<a href="/userdocs" class="button">Cluster user</a> &nbsp; &nbsp; &nbsp;
<a href="/admindocs" class="button">Cluster administrator</a> &nbsp; &nbsp;
<a href="/nautilus/namespaces" class="button">Browsing namespaces</a>
</p>
</div>
<!--
<p><a href="{{ page.url }}" class="button"> Back to top </a> </p>
-->
