---
layout: default
---
<header class="post-header">
    <h2 class="post-title">Upcoming Events and Workshops</h2>
  </header>
<table class="meeting">
{% for service in site.[page.short] %}
  {% if service.categories[0] == "event" %}
    <tr>
      <td>
        <h5>{{ service.dates }}</h5>
        <h4>&nbsp;&nbsp;&nbsp;{{ service.title }}</h4>
        {% if service.imagesrc %}
          <img src="/images/events/{{service.imagesrc}}" alt="" class="imgleft"/>
        {% endif %}
      </td>
      <td>{{service.content}} </td>
    </tr>
  {% endif %}
{% endfor %}
</table>
<header class="post-header">
    <h2 class="post-title">Past Pacific Research Platform Engagements</h2>
  </header>
<table class="meeting">
{% for service in site.[page.short] reversed %}
  {% if service.categories[0] == "workshop" %}
    <tr>
      <td>
        {% if service.workshop_url  %}
          <a href="{{ service.workshop_url }}" title="{{ service.title
          }}"><span class="smalltite">&nbsp;&nbsp;&nbsp;{{ service.title }}</span></a> 
        {% else %}
          <h4>&nbsp;&nbsp;&nbsp;{{ service.title }}</h4>
        {% endif %}
      </td>
      <td>
        {{ service.workshop_info }}
      </td>
    </tr>
  {% endif %}
{% endfor %}
</table>

<p><a href="{{ page.url }}" class="button"> Back to top </a> </p>
