<!DOCTYPE html>
<html>
<head> {% include head.html %} </head>
<body class="doc">
  <header id="submain"><img src="/images/nautilus.png" valign="top"/></header>
  <nav id="nav">{% include nav.html %}</nav> <!-- Nav -->
  <div id="main">
    <div class="wrapper-menu-left"><!-- 2 column wrapper -->
      <div class="menu-left"> <!--left column menu -->
        <ul>
          {% for page in site[page.short]  %}
            {% if page.categories[0] == "admin" %}
              <li><a class="DPage" href="{{page.url}}">{{page.title}}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
      </div> 
      <div class="content-right"><!-- right column -->
        <header class="post-header"><h3 class="">{{page.title}}</h3></header>
        {{ content }}
      </div><!-- end right column -->
      <div style="clear: both;" > </div>
    </div><!-- end 2 column wrapper -->
    {% include foot.html %} <!-- Footer -->
  </div>
  {% include copyright.html %}
  {% include scripts-main.html %}
</body>
</html>
