---
layout: default
---
<style>
border-top-width: 0px;
/* Create two equal columns that floats next to each other */
.column1 {
    float: left;
    width: 20% !important;
    padding: 10px;
   
}
.column2 {
    float: left;
    width: 80%;
    padding: 10px;
   
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1000px) {
    .column1 { width: 300px; }
}
</style>

<h2>Upcoming Events and Workshops</h2>

{% for service in site[page.short] %}
  {% if service.categories[0] == "event" %}
    <div class="row" style="border-top-width: 0px;border-bottom-width:0px;">
      <div class="column1" style="padding-left: 0px;">
        <h5 style="margin-bottom: 0px; margin-top: 1rem;">{{ service.dates }}</h5>
        <h3 style="padding-right: 20px;">{{ service.title }}</h3>
        {% if service.imagesrc %}
          <img src="/images/events/{{service.imagesrc}}" alt="" class="imgleft"/>
        {% endif %}
        <br><br>
        <h4><a href="{{service.website}}">website</a></h4>
        {% if service.eventlink %} <h4><a href="{{service.eventlink}}">register</a></h4> {% endif %}
      </div>
      <div class="column2" style="padding-left: 0px;">
		{{service.content}} 
      </div>
    </div>
  {% endif %}
{% endfor %}

<h2 style="margin-bottom: 1rem">Past Pacific Research Platform Engagements</h2>
<table class="" width=70%>
{% for service in site[page.short] reversed %}
  {% if service.categories[0] == "workshop" %}
    <tr>
      <td>
        {% if service.workshop_url  %}
          <a href="{{ service.workshop_url }}" title="{{ service.title
          }}"><span class="smalltite">&nbsp;&nbsp;&nbsp;{{ service.title }}</span></a> 
        {% else %}
          <h4>&nbsp;&nbsp;&nbsp;{{ service.title }}</h4>
        {% endif %}
      </td>
      <td>
        {{ service.workshop_info }}
      </td>
    </tr>
  {% endif %}
{% endfor %}
</table>

<p><a href="{{ page.url }}" class="button"> Back to top </a> </p>
