<!DOCTYPE html>
<html>
  <head> {% include head.html %} </head>
  <body class="">
    <header id="submain">
        <img src="/images/workshops/{{page.img}}" valign="top"/>
    </header>
    <nav id="nav">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
      <ul class="links">
        {% include {{page.workshop}}.html %}
      </ul>
      <p><div align="left"><a href="/{{page.workshop}}-search"><i class="fas fa-search"></i></a></div></p>
    </nav>
    <div id="main" class=""><!-- page -->
      <div class="wrapper-menu-left"><!-- 2 column wrapper -->
        <div class="content-right"><!-- right column -->
		  <h3 class="">{{page.title}}</h3>
          {{ content }}
        </div><!-- end right column -->
        <div style="clear: both;" > </div>
      </div><!-- end 2 column wrapper -->
      {% include foot.html %} <!-- Footer -->
    </div><!-- end page -->
    {% include copyright.html %} <!-- Copyright -->
    {% include scripts-main.html %} <!-- Scripts -->
  </body>
</html>
